{% include 'base.html' %}
{% block content %}

    <div class="container my-5 z-depth-1">
        <section class="dark-grey-text">
            <div class="row pr-lg-5">
                <div class="col-md-5 mb-4">
                    <div class="view">
                        <img src="/media/img/open.png" class="img-fluid"
                             alt="smaple image">
                    </div>
                </div>
                <div class="col-md-7 d-flex align-items-center">
                    <div>

                        <h2>Фамилия: {{ students.surname }}</h2>
                        <h2>Имя: {{ students.name }}</h2>
                        <h2>Отчество: {{ students.patronymic }}</h2>
                        <h2>Дата рождения: {{ students.birthday }}</h2>
                        <h2>Пол: {{ students.sex }}</h2>
                        <h2>Дата контракта: {{ students.contract_date }}</h2>
                        <h2>Номер контракта: {{ students.contract_number }}</h2>

                        <a href='{% url 'edit_student' students.pk %}'>
                        <button type="button" class="btn btn-orange btn-rounded mx-0">
                            <i class="fas fa-user-edit"></i> Изменить
                        </button>
                        </a>

                        <a href='{% url 'print_docx' students.pk %}'>
                        <button type="button" class="btn btn-orange btn-rounded mx-0">
                            <i class="fas fa-print"></i> Печать
                        </button>
                        </a>

                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}