{% include 'base.html' %}
{% block content %}

    <div class="container my-5 z-depth-1">
        <section class="dark-grey-text">
            <div class="row pr-lg-5">
                <div class="col-md-5 mb-4">
                    <div class="view">
                        <img src="/media/img/open.png" class="img-fluid"
                             alt="smaple image">
                    </div>
                </div>
                <div class="col-md-7 d-flex align-items-center">
                    <div>

                        <h2>Фамилия: {{ student_item.surname }}</h2>
                        <h2>Имя: {{ student_item.name }}</h2>
                        <h2>Отчество: {{ student_item.patronymic }}</h2>
                        <h2>Дата рождения: {{ student_item.birthday }}</h2>
                        <h2>Пол: {{ student_item.sex }}</h2>
                        <h2>Дата контракта: {{ student_item.contract_date }}</h2>
                        <h2>Номер контракта: {{ student_item.contract_number }}</h2>

                        <a href='{% url 'edit_student' period_item.id student_item.id %}'>
                        <button type="button" class="btn btn-orange btn-rounded mx-0">
                            <i class="fas fa-user-edit"></i> Изменить
                        </button>
                        </a>

{#                        <a href='{% url 'print_docx' period_item.id st.id %}'>#}
{#                        <button type="button" class="btn btn-orange btn-rounded mx-0">#}
{#                            <i class="fas fa-print"></i> Печать#}
{#                        </button>#}
{#                        </a>#}

                    </div>
                </div>
            </div>
        </section>
    </div>
{% endblock %}