{% include 'base.html' %}
{% block content %}
    <div class="container my-5 z-depth-1 p-3">
        <section class="dark-grey-text">
            <div class="row pr-lg-5">
                <div class="col-md-5 mb-4">
                    <div class="view">
                        <img src="/media/img/change.png" class="img-fluid"
                             alt="smaple image">
                    </div>
                </div>
                <div class="col-md-7 d-flex align-items-center">
                    <form method="POST">
                        {% csrf_token %}
                        <p>
                            <label>Фамилия</label><br>
                            <input type="text" name="surname" value="{{ person.surname }}"/>
                        </p>
                        <p>
                            <label>Имя</label><br>
                            <input type="text" name="name" value="{{ person.name }}"/>
                        </p>
                        <p>
                            <label>Отчество</label><br>
                            <input type="text" name="patronymic" value="{{ person.patronymic }}"/>
                        </p>
                        <p>
                            <label>Дата рождения</label><br>
                            <input type="date" name="patronymic" value="{{ person.birthday }}"/>
                        </p>
                        <p>
                            <label for="sex">Пол</label><br>
                            <select name="sex" id="sex">
                                <option active disabled value="">{{ person.sex }}</option>
                                <option value="Женский">Женский</option>
                                <option value="Мужской">Мужской</option>
                            </select>
                        </p>
                        <p>
                            <label>Введите возраст</label><br>
                            <input type="number" name="age" value="{{ person.age }}"/>
                        </p>
                        <input type="submit" value="Сохранить">
                    </form>
                </div>
            </div>
        </section>
    </div>
{% endblock content %}
