{% extends 'base.html' %}
{% load sitetree %}
{% block content %}
    <a href="{% url 'period_add' %}">
        <button type="button" class="btn btn-danger btn-rounded"><i class="fas fa-plus-circle"></i> Открыть новый период
            обучения
        </button>
    </a>
        <a href="{% url 'period_add' %}">
        <button type="button" class="btn btn-danger btn-rounded"><i class="fas fa-plus-circle"></i> Архив
        </button>
    </a>
    <div class="text-center mt-3">
        <button type="button" class="btn btn-info btn-rounded">Активные периоды</button>
    </div>
    <div class="col-12">
        <div class="row">
            {% for p in periods %}
                <div class="col-12 col-md-4">
                    <a href="{{ p.get_absolute_url }}">
                        <div class="card">
                            <div class="view overlay">
                                <img class="card-img-top"
                                     src="/media/img/school.png"
                                     alt="Card image cap">
                                <div class="mask rgba-white-slight"></div>
                            </div>
                            <div class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3"><i
                                    class="fas fa-chevron-right pl-1"></i></div>
                            <div class="card-body">
                                <h1 class="card-title">{{ p.title }}</h1>
                            </div>
                            <div class="rounded-bottom mdb-color lighten-3 text-center pt-3">
                                    <h1>
                                        <li class="list-inline-item pr-2 white-text">
                                            <i class="fas fa-calendar-alt"></i>
                                            {{ p.start_date|date:"d.m" }} - {{ p.end_date|date:"d.m.y" }}
                                        </li>
                                    </h1>
{#                                    <li class="list-inline-item pr-2">#}
{#                                        <div class="white-text"><i class="fas fa-users"></i>#}
{#                                            {% for count in students_count %}#}
{#                                                {{ count.number_of_period }}#}
{#                                            {% endfor %}#}
{#                                        </div>#}
{#                                    </li>#}
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <hr>
    {#{% sitetree_menu from "leftMenu" include "trunk" template "sitetree/menu.html" %}#}
{% endblock %}
