{% extends 'base.html' %}
{% load static %}
{% load sitetree %}
{% block content %}
    <div class="row">
        <div class="col-12 col-md-8 offset-md-4 mt-2 mb-4">
            <a href="{% url 'period_add' %}">
                <button type="button" class="btn btn-danger btn-rounded"><i class="fas fa-plus-circle"></i> Открыть
                    новый период
                    обучения
                </button>
            </a>
        </div>
    </div>
    <div class="col-12">
        <div class="row">
            {% for p in periods %}
                <div class="col-12 col-md-4 mb-3">
                    <a href="{{ p.get_absolute_url }}" class="card hoverable">
                        <div class="card-body">
                            <div class="media">
              <span class="card-img-100 d-inline-flex justify-content-center align-items-center rounded-circle grey lighten-3 mr-4">
                <i class="fas fa-graduation-cap fa-2x text-info"></i>
              </span>
                                <div class="media-body">
                                    <h2 class="dark-grey-text mb-3">{{ p.title }}</h2>
                                    <p class="font-weight-light text-muted mb-0">
                                        <i class="fas fa-calendar-alt"></i>
                                        {{ p.start_date|date:"d.m" }} - {{ p.end_date|date:"d.m.y" }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-7 offset-md-5 mt-2 mb-4">
            <a href="{% url 'period_add' %}">
                <button type="button" class="btn btn-warning btn-rounded"><i class="fas fa-plus-circle"></i> Архив
                </button>
            </a>
        </div>
    </div>
{% endblock %}
